<?xml version="1.0"?>
<config>
    <modules>
        <Bluefish_Connection>
            <version>1.1.5</version>
	    <depends>
		<Mage_Shipping/>
	    </depends>
            <depends>
                <Mage_Payment/>
            </depends>
	    <depends>
		<Mage_CatalogInventory/>
	    </depends>	    
        </Bluefish_Connection>
    </modules>
    <frontend>
        <routers>
            <connection>
                <use>standard</use>
                <args>
                    <module>Bluefish_Connection</module>
                    <frontName>bluefish</frontName>
                </args>
            </connection>
        </routers>
        <layout>
            <updates>
                <connection>
                    <file>connection.xml</file>
                </connection>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
	    <connection>
		    <use>admin</use>
		    <args>
			<module>Bluefish_Connection</module>
			<frontName>bluefish</frontName>
		    </args>
	    </connection>
        </routers>
    </admin>
    <adminhtml>
		<menu>
			<connection module="connection">
				<title>Bluestore</title>
				<sort_order>71</sort_order>
				<children>
					<items module="connection">
						<title>Import</title>
						<sort_order>10</sort_order>
						<action>connection/adminhtml_myform</action>
					</items>
					<export module="connection">
						<title>Export</title>
						<sort_order>20</sort_order>
						<action>connection/adminhtml_myformexport</action>
					</export>
					<enablecron module="connection">
						<title>Enable/Disable Bluestore Cron Jobs</title>
						<sort_order>30</sort_order>
						<action>connection/adminhtml_bluestorecron</action>
					</enablecron>
					<monitorcron module="connection">
						<title>Monitor Scheduled Tasks</title>
						<sort_order>40</sort_order>
						<action>connection/adminhtml_bluestorescheduler</action>
					</monitorcron>
					<errorsaleimport module="connection">
					      <title>Sales Import Error</title>
					      <sort_order>50</sort_order>
					      <action>connection/adminhtml_errorsaleimport</action>
					</errorsaleimport>					
				</children>
     		</connection>
		</menu>
		<acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Bluefish_Connection>
							<title>Connection Module</title>
							<sort_order>10</sort_order>
						</Bluefish_Connection>
					</children>
				</admin>
			</resources>
		</acl>
		<layout>
			<updates>
				<connection>
					<file>connection.xml</file>
				</connection>
			</updates>
		</layout>
    </adminhtml>   
    <global>
        <models>

          <core>
              <rewrite>
                  <store>Bluefish_Connection_Model_Store</store>
              </rewrite>
          </core>
	  <checkout>
              <rewrite>
                  <cart_api>Bluefish_Connection_Model_Checkout_Cart_Api</cart_api>
              </rewrite>
	  </checkout>
	  <cataloginventory>
              <rewrite>
                  <stock_item>Bluefish_Connection_Model_CatalogInventory_Stock_Item</stock_item>
              </rewrite>
	  </cataloginventory>	  

	  <cataloginventory>
              <rewrite>
                  <observer>Bluefish_Connection_Model_Observer</observer>
              </rewrite>
	  </cataloginventory>
	  
            <connection>
                <class>Bluefish_Connection_Model</class>
                <resourceModel>connection_mysql4</resourceModel>
            </connection>
           
			<connection_mysql4>
                <class>Bluefish_Connection_Model_Mysql4</class>
                <entities>
                    <connection>
                        <table>bluefish_category</table>
                    </connection>
                    <connection1>
                        <table>bluefish_product</table>
                    </connection1>
                     <connection1>
                        <table>bluefish_stock</table>
                    </connection1>
                    <connection1>
                        <table>bluefish_customer</table>
                    </connection1>
                    <connection1>
                        <table>bluefish_sale_post</table>
                    </connection1>
		    <errorsaleimport>
			<table>bluefish_import_error_logs</table>
		    </errorsaleimport>		    
		</entities>
            </connection_mysql4>
        </models>
        <resources>
            <connection_setup>
                <setup>
                    <module>Bluefish_Connection</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </connection_setup>
            <connection_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </connection_write>
            <connection_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </connection_read>
        </resources>
        <blocks>
            <connection>
                <class>Bluefish_Connection_Block</class>
            </connection>
        </blocks>
        <helpers>
            <connection>
                <class>Bluefish_Connection_Helper</class>
            </connection>
        </helpers>
    </global>
	<crontab>
	<jobs>
            <bluefish_connection_category>
                <schedule><cron_expr>38 15 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::categoryImport</model></run>
            </bluefish_connection_category>
	    <bluefish_connection_product>
                <schedule><cron_expr>15 */4 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::productImport</model></run>
            </bluefish_connection_product>
	    <bluefish_connection_productexport>
                <schedule><cron_expr>15 */4 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::productEmport</model></run>
            </bluefish_connection_productexport>	    
	    <bluefish_connection_stock>
                <schedule><cron_expr>0 * * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::stockImport</model></run>
            </bluefish_connection_stock>
	    <bluefish_connection_customer>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::customerImport</model></run>
            </bluefish_connection_customer>
 	    <bluefish_connection_customerexport>
                <schedule><cron_expr>0 0 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::customerExport</model></run>
            </bluefish_connection_customerexport>
  	    <bluefish_connection_orderimport>
                <schedule><cron_expr>35 8 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::salesImport</model></run>
            </bluefish_connection_orderimport>			
  	    <bluefish_connection_orderexport>
                <schedule><cron_expr>35 8 * * *</cron_expr></schedule>
                <run><model>connection/cronobserver::salesExport</model></run>
            </bluefish_connection_orderexport>
	</jobs>
	</crontab>

	<default>
    	<mycustom_section>
    		<mycustom_stock_group>
    			<mycustom_currentstockversion>0</mycustom_currentstockversion>
    		</mycustom_stock_group>
    	</mycustom_section>
        </default>
	
	<default>
	    <mycustom_section>
		    <mycustom_product_export_group>
			    <mycustom_unitofmeasure>EA</mycustom_unitofmeasure>
		    </mycustom_product_export_group>
	    </mycustom_section>
        </default>
	
	<default>
	    <mycustom_section>
		    <mycustom_product_group>
			    <mycustom_currentproductversion>0</mycustom_currentproductversion>
		    </mycustom_product_group>
	    </mycustom_section>
        </default>	
	
	<default>
    	<mycustom_section>
    		<mycustom_sales_group>
    			<mycustom_saledefaultcategory>1</mycustom_saledefaultcategory>
    		</mycustom_sales_group>
    	</mycustom_section>
    </default>	
    <default>
    	<mycustom_section>
    		<mycustom_sales_group>
    			<mycustom_sale_chargescode>1</mycustom_sale_chargescode>
    		</mycustom_sales_group>
    	</mycustom_section>
    </default>
    <default>
    	<mycustom_section>
    		<mycustom_sales_group>
    			<mycustom_customer_idimport>1</mycustom_customer_idimport>
    		</mycustom_sales_group>
    	</mycustom_section>
    </default>    
    <default>
    	<mycustom_section>
    		<mycustom_sales_group>
    			<mycustom_bluestore_enddatetime>2014-01-01 00:00</mycustom_bluestore_enddatetime>
    		</mycustom_sales_group>
    	</mycustom_section>
    </default>	    
	
    <default>
    	<mycustom_section>
    		<mycustom_taxcode_group>
    			<mycustom_taxrate_first>0.0000</mycustom_taxrate_first>
    		</mycustom_taxcode_group>
    	</mycustom_section>
    </default>
    <default>
    	<mycustom_section>
    		<mycustom_taxcode_group>
    			<mycustom_taxcode_first>UK0</mycustom_taxcode_first>
    		</mycustom_taxcode_group>
    	</mycustom_section>
    </default>
    <default>
    	<mycustom_section>
    		<mycustom_taxcode_group>
    			<mycustom_taxrate_second>20.0000</mycustom_taxrate_second>
    		</mycustom_taxcode_group>
    	</mycustom_section>
    </default>
    <default>
    	<mycustom_section>
    		<mycustom_taxcode_group>
    			<mycustom_taxcode_second>UK1</mycustom_taxcode_second>
    		</mycustom_taxcode_group>
    	</mycustom_section>
    </default>

    <default>
    	<mycustom_section>
    		<mycustom_payment_group>
    			<mycustom_payment_checkmo>5</mycustom_payment_checkmo>
    		</mycustom_payment_group>
    	</mycustom_section>
    </default>
    <default>
    	<mycustom_section>
    		<mycustom_payment_group>
    			<mycustom_payment_cc>11</mycustom_payment_cc>
    		</mycustom_payment_group>
    	</mycustom_section>
    </default>

       <default>
        <carriers>
          <bluefish_connection>
               <active>1</active>
               <model>connection/carrier_bsaleshippingmethod</model>
               <title>Carrier Title</title>
               <name>bluestore_no_shipping</name>
               <price>0.00</price>
	       <free_shipping_subtotal>0</free_shipping_subtotal>
               <specificerrmsg>This shipping method is currently unavailable. If you would like to ship using this shipping method, please contact us.</specificerrmsg>
            </bluefish_connection>
         </carriers>
       </default>

    <default>
	<payment>
	    <bluefish_connection>
		<active>1</active>
		<model>connection/paymentmethod</model>
		<order_status>processing</order_status>
		<title>Bluestore Paid</title>
	    </bluefish_connection>
	 </payment>
    </default>

</config>
